language: perl
perl:
  - "5.20"
  - "5.18"
  - "5.16"
  - "5.14"
  - "5.12"
  - "5.10"
notifications:
  email:
    recipients:
      - kazeburo@gmail.com
    on_success: never
    on_failure: change

